body {
    background-color: black;
    cursor: crosshair;
    height: 200vh;
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding-top: 60px;
}

.title {
    text-align: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.move-buttons {
    margin-top: 10px;
    display: flex;
    max-width: 500px;
    flex-direction: row;
}

.rock-container {
    margin: 0px 15px;
}

.move-button {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    border: 2px solid whitesmoke;
    background-color: transparent;
    color: white;
    font-family: Roboto;
    padding: 30%;
    cursor: pointer;
    transition: 0.3s;
}

.move-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.move-button:active img {
    filter: invert(0);
}

.move-icon {
    width: 100%;
    filter: invert(1);
    transition: 0.3s;
}

.move-icon-result {
    animation: fadeIn 1s;
    filter: invert(1);
    max-width: 75px;
    margin: 0px 30px;
}

.move-icon-result2 {
    animation: fadeIn 1s;
    max-width: 75px;
    margin: 0px 30px;
}

.reset-button {
    background-color: transparent;
    border: 2px white solid;
    color: aliceblue;
    border-radius: 30px;
    font-size: 16px;
    padding: 8px 15px;
    transition: 0.3s;
}

.reset-button:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

.reset-button:active {
    background-color: rgba(255, 0, 0, 1);
    color: black;
}

.just-buttons-header {
    position: fixed;
    justify-content: center;
    display: flex;
    width: 100%;
    top: 0;
    flex-direction: row;
    background-color: #ffa31a;
    height: 60px;
    margin: 0px;
    z-index: 100;

    transition: transform 0.3s ease-in-out;
}

.just-buttons {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    flex-direction: row;
}

.just-buttons div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hello-button,
.its-me-button {
    height: 34px;
    border-width: 1px;
    border-radius: 20px;
    border-color: rgb(214, 214, 214);
    border-style: solid;
    padding: 0px 20px;
    cursor: pointer;
}

.input-test {
    max-width: 350px;
    flex: 1;
}

.just-buttons .test-button {
    font-family: Roboto;
    height: 39px;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    border-style: solid;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    margin-left: -1px;
    padding: 0px 20px;
    cursor: pointer;
}

.input-something {
    flex: 1;
    height: 36px;
    margin: 0;
    width: 0%;
    padding-left: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(214, 214, 214);
    border-bottom-left-radius: 99px;
    border-top-left-radius: 99px;
}



/* TEST TEST TEST TEST TEST TEST */

#scroll-container {
    overflow: hidden;
}

#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 3s linear infinite;
    -webkit-animation: my-animation 3s linear infinite;
    animation: my-animation 3s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}