body {
    background-color: rgba(255, 241, 204, 0.57);
    cursor: crosshair;
    height: 180vh;
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding-top: 44px;
}

.just-buttons-header {
    position: fixed;
    justify-content: center;
    display: flex;
    width: 100%;
    top: 0;
    flex-direction: row;
    background-color: #ffa31a;
    height: 60px;
    margin: 0px;
    z-index: 100;

    transition: transform 0.3s ease-in-out;
}

.just-buttons {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    flex-direction: row;
}

.just-buttons div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.autoplay-button,
.its-me-button {
    height: 34px;
    border-radius: 20px;
    border-style: none;
    background-color: black;
    color: white;
    padding: 0px 30px;
    cursor: pointer;
    transition: 0.3s;
}

.input-test {
    max-width: 350px;
    flex: 1;
}

.just-buttons .test-button {
    font-family: Roboto;
    height: 39.7px;
    border-width: 1px;
    background-color: black;
    color: white;
    border-color: rgb(255, 0, 0);
    border-style: solid;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    margin-left: -1px;
    padding: 0px 20px;
    cursor: pointer;
}

.input-something {
    flex: 1;
    height: 38px;
    width: 0%;
    padding: 0px 20px;
    border-width: 1px;
    border-style: solid;
    background-color: black;
    color: #ffa31a;
    box-shadow: inset 1px 2px 3px rgb(255, 255, 255, 0.25);
    border-color: rgb(255, 0, 0);
    border-bottom-left-radius: 99px;
    border-top-left-radius: 99px;
}

.Hello {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
}


.autoplay-on {
    background-color: rgba(13, 10, 208, 0.5);
}

/* TEST TEST TEST TEST TEST TEST */

#scroll-container {
    overflow: hidden;
}

#scroll-text {
    /* animation properties */
    transform: translateX(100%);

    animation: my-animation 3s linear infinite;
}

@keyframes my-animation {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes fadeIn {
    0% {
        rotate: 0;
        opacity: 0;
    }

    100% {
        rotate: 360deg;
        opacity: 1;
    }
}